:root {
  --primary: #cc9966;
  --secondary: #523b35;
  --background: #c19a6b;
  --elements: #4a2c2a;
  --opacity_primary: #e4c7ab;
}
.c_primary {
  color: var(--primary) !important;
}
.bc_primary {
  background: var(--primary) !important;
}
.c_opacity_primary {
  color: var(--opacity_primary) !important;
}
.bc_opacity_primary {
  background: var(--opacity_primary) !important;
}
.c_secondary {
  color: var(--secondary) !important;
}
.bc_secondary {
  background: var(--secondary) !important;
}
.c_background {
  color: var(--background) !important;
}
.bc_background {
  background: var(--background) !important;
}
.c_elements {
  color: var(--elements) !important;
}
.bc_elements {
  background: var(--elements) !important;
}
body:not(.body_login) {
  background: var(--background);
  scrollbar-width: thin;
  scrollbar-color: var(--elements) var(--secondary);
  padding-left: 90px;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar:hover {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-track {
  background: #d7d7d7;
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 8px;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--elements);
}
.wski_tooltip {
  position: relative;
}
.wski_tooltip:before {
  content: attr(data-tooltip);
  background: var(--elements);
  color: #fff;
  padding: 5px 1rem;
  position: absolute;
  top: -10px;
  left: 0;
  opacity: 0;
  border-radius: 8px;
  text-transform: uppercase;
  transition: 0.6s all;
}
.wski_tooltip:hover:before {
  left: 2rem;
  opacity: 1;
}
.wski_tooltip.more_left:hover:before {
  left: 4rem;
  opacity: 1;
}
.placeholder_center_brown::placeholder {
  text-align: center;
  color: var(--opacity_primary);
}
.secondary_on_hover {
  transition: background 0.5s, color 0.7s;
}
.secondary_on_hover:hover {
  background: var(--secondary) !important;
  color: #fff;
}
