:root {
  --primary: #cc9966;
  --secondary: #523b35;
  --background: #c19a6b;
  --elements: #4a2c2a;
}
body {
  background-color: var(--background);
}

h1 {
  background-color: var(--elements);
}

#login {
  background-color: var(--elements);

  margin-left: 10%;
  margin-right: 10%;
}

#mail {
  background-color: var(--secondary);
  border: none;
}

#password {
  background-color: var(--secondary);
  border: none;
}

#login button {
  background-color: var(--primary);
  border: none;
}
#login button:hover {
  background-color: var(--secondary);
}

@media (min-width: 700px) {
  #login {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 1400px) {
  #login {
    margin-left: 30%;
    margin-right: 30%;
  }
}
